.Modal {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  height: 100%;
  width: 100%;
  /*z-index: 1;*/
  display: flex;
  justify-content: center;
  align-items: center;
}